html, body{
    height: 100%; 
    margin: 0;
    font-family: sans-serif;
    color: #1d0202;
}

.parallax1{
    position: relative;
    background-image: url("https://www.chromethemer.com/download/hd-wallpapers/pikachu-3840x2160.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}
.caption{
    position: absolute;
    left:0; 
    top: 50%;
    text-align: center;   
    width: 100%;
}
.caption span.border{
    background-color:   goldenrod;
    color: blanchedalmond; 
    padding: 20px; 
    font-size: 35px; 
    letter-spacing: 10px; 

}
.parallax2{
    position: relative;
    background-image: url("https://wallpapercave.com/wp/wp2424851.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3{
    position: relative;
    background-image: url("https://wallpapercave.com/wp/wp2885238.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax4{
    position: relative;
    background-image: url("https://th.bing.com/th/id/R.1dc8c0064fd56ca202de89783aafe599?rik=q6rlXCBBrsA7PA&pid=ImgRaw&r=0");
    height: 100%;
    background-attachment: fixed;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
}
.box1{
    background-color: white;
    text-align: justify;
    padding: 50px 80px;
}
.box1 h3{
    text-align: center;
}
.box2{
    background-color: white;
    text-align: justify;
    color: black;
    padding: 50px 80px;
}

.ctnevolucao{
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    align-items: center;
    flex-direction: column;
}
.ctnevolucao img{
    width: 400px;
    height: auto;
}